body {
    min-height: 100vh;
    background-image: url("../img/FondoContactos.png");
    background-size: cover;
}

.topbar {
    background: #026655;
    color: white;
    padding: 15px;
}

.form-container {
    max-width: 520px;
    margin: 40px auto;
    background: rgba(2, 102, 85, 0.9);
    padding: 35px;
    border-radius: 22px;
}

.input-group {
    margin-bottom: 18px;
}

.input-group label {
    color: white;
}

.input-group input {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: none;
}

button {
    width: 100%;
    padding: 14px;
    background: #ff9800;
    color: white;
    border: none;
    border-radius: 12px;
    margin-top: 12px;
    font-size: 18px;
}

.cancelar {
    background: #b71c1c;
}
