body {
    font-family: Arial, Helvetica, sans-serif;
    background: #035726;
    margin: 0;
}

.topbar {
    background: #ff8c00;
    padding: 15px;
    text-align: left;
}

button {
    background: #ff8c00;
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #e67e00;
}

.perfil-container {
    background: rgb(59, 150, 86);
    max-width: 500px;
    margin: 40px auto;
    padding: 90px;
    border-radius: 55px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(245, 244, 244, 0.15);
}

.profile-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #ff8c00;
    margin-bottom: 15px;
}

.btn-cambiar {
    display: block;
    margin: 0 auto 50px auto;
}

#profileName {
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
}
